{% extends 'base.html' %}
{% block title %}Application Response{% endblock %}

<!-- <!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Application Response</title>
</head>
<body> -->

{% block content %}
    <h2>Application received!</h2>
    <p>
    Thank you, {{ first_name }} {{ last_name }}, for applying to be a 
    {{ job_title }}. Your minimum salary requirement is ${{ salary }}.
    </p>
    <p>
    You will hear from us shortly. Thank you in advance for your patience while
    we review your submission.
    </p>

{% endblock %}

<!-- </body>
</html>
 -->